* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: grey;
  border: 1px, solid, black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20%;
}

.btn {
  margin-top: 32px;
  padding: 5px 15px;
}

h1 {
  margin-bottom: 12px;
}

.timer {
  font-size: xx-large;
  text-align: center;
  margin-top: 32px;
}